
Saved/SourceControl/UncontrolledChangelists.json
Saved/Logs/metaverse.log
Saved/Crashes/UECC-Windows-3391360C4F244AC351B24D8698763EB3_0000/CrashReportClient.ini
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Autosaves/PackageRestoreData.json
Intermediate/CachedAssetRegistry.bin
Content/Content/Levels/Map1.umap
